@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*--- Page white space fix ---*/

.cartLandscape{
    display: block;
}
.cartPortrait{
    display: none;
    margin-left: auto !important;
}
.members{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*--- NAVBAR CSS START ---*/

.logo {
    cursor: pointer;
    margin-right: auto;
    max-height: 4vh;
    border-radius: 50%;
}

.invisible {
    display: none;
}









/*--- NAVBAR CSS END ---*/





.nav-btn {
    margin: auto 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-btn:focus {
    outline: 0;
    box-shadow: 0 0 2pt 0.1pt rgba(0, 136, 169, 1)
}

.nav-btn:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
#darkModeBtn{
    margin-left: 0.8rem;
}

.selHide {
    display: none;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cdcdcd;
    border-radius: 3px;
    overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(116 116 116);
    border-radius: 3px;
    overflow: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 0.6;
}

.lessPadding {
    padding: 1rem;
}
.burger{
    margin-left: auto;
}
@media only screen and (max-width: 1023px) {

    .lessPadding {
        padding: 0.2rem;
    }
}
