.cartLandscape{
    display: block;
}

.cartPortrait{
    display: none;
    margin-left: auto !important;
}

.members{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    max-height: 4vh;
    border-radius: 50%;
}

.invisible {
    display: none;
}

.nav-btn {
    margin: auto 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-btn:focus {
    outline: 0;
    box-shadow: 0 0 2pt 0.1pt rgba(0, 136, 169, 1)
}

.nav-btn:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

#darkModeBtn{
    margin-left: 0.8rem;
}

.selHide {
    display: none;
    width: 100%;
}

.lessPadding {
    padding: 1rem;
}

.burger{
    margin-left: auto;
}

@media only screen and (max-width: 1023px) {
    .lessPadding {
        padding: 0.2rem;
    }
}
