/*Nav fix*/
nav {
  margin-bottom: 2rem;
}

/*Fullpage*/
body {
  min-height: 100vh;
  min-width: 100vw;
}

/*Footer*/
.is-footer {
  background-color: #e8e8e8;
  margin-top: 2rem;
  padding: 2rem;
  position: fixed;
  bottom: 0;
}

/*Set the min-width of class="box" used to create receipt*/
.is-receipt {
  min-width: 375px;
}

/*Make the navbar bigger only when it haven't hamburger*/
@media screen and (min-width: 1024px) {
  .navbar {
      min-height: 4.30rem;
  }
}

/*Make the page not selectable by users*/
* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
