/*Nav fix*/
nav {
  margin-bottom: 2rem;
  width: 100vw;
}

/*Lock the footer on the bottom*/
html, body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}

body > footer {
    margin-top: auto;
}

/*Footer fix*/
.footer {
  background-color: #e8e8e8;
  margin-top: 2rem;
  padding: 3rem 1.5rem 1.5rem;
}

/*Set the min-width of class="box" used to create receipt*/
.is-receipt {
  min-width: 375px;
}

/*Make the navbar bigger only when it haven't hamburger*/
@media screen and (min-width: 1024px) {
  .navbar {
      min-height: 4.30rem;
  }
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
