@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*--- Page white space fix ---*/

body{
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    overflow: hidden;
}
.cartLandscape{
    display: block;
}
.cartPortrait{
    display: none;
    margin-left: auto !important;
}
#touch {
    width: 100vw;
}

/*--- NAVBAR CSS START ---*/

.logo {
    cursor: pointer;
    margin-right: auto;
    max-height: 4vh;
    border-radius: 50%;
}

#cart {
    width: 25vw;
    background-color: #24252ae3;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 31;
}

.contentWrapper {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex: 1;
}
.cartElement {
    background-color: #005367;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 0.2rem;
}

.cartElement span {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: white;
}

.invisible {
    display: none;
}

.cartElement div {
    color: #b9b9b9;
}

#classNamePage {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.quantityRow {
    padding: 0;
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: auto;
}

.underlined {
    border-bottom: 1px solid #dbdbdb;
}

.underlined * {
    border: none !important;
}

.quantityRow button {
    padding: 0 0.5rem;
    color: black;
    border: none;
    margin-left: 0.2rem;
    border-radius: 0.2rem;
    font-weight: bold;
}

/*--- NAVBAR CSS END ---*/

.select-bar {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center
}

.select-quantity>* {
    margin: 0 5px;
}

.select-quantity {
    margin: 10px 0;
    display: inline-flex;
    align-items: center;
}

.select-bar .select {
    margin: 0 20px;
    width: 200px;
    z-index: 0;
}

.select-quantity button {
    width: 45px;
}

.plusBtn {
    background-color: #66cf8b;
    cursor: pointer;
}

.minusBtn {
    background-color: hsl(348deg 94% 80%);
    cursor: pointer;
}

.foodType {
    font-size: 1.2rem;
}

.order-btn {
    display: block;
    width: 80%;
    cursor: pointer;
    border-radius: 3rem;
    margin: 1rem auto;
    transition: all 0.3s ease 0s;
}

.order-btn:focus {
    outline: 0;
    box-shadow: 0 0 2pt 0.1pt #005ce6;
}

.order-btn:hover {
    background-color: #005ce6;
    border-color: #005ce6;
    color: white;
}

.nav-btn {
    margin: auto 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-btn:focus {
    outline: 0;
    box-shadow: 0 0 2pt 0.1pt rgba(0, 136, 169, 1)
}

.nav-btn:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
#darkModeBtn{
    margin-left: 0.8rem;
}
#className {
    max-width: 20vw;
    margin-left: 1rem;

    text-align: center;
}

.selHide {
    display: none;
    width: 100%;
}

.level-item {
    flex-shrink: 1;
}
#cartText {
    width: 100%;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
}
#showOrders{
    color: #0a0a0a;
}
#showOrders:hover{
    background-color: white;
}
.messageWrapper{
    margin-top: 1vh;
    width: 80%;
    height: 4rem;
    position: relative;
    margin: auto;
}
#message{
    width: 100%;
    height: 100%;
    resize: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#charLeft{
    position: absolute;
    color: black;
    bottom: 0;
    right: 0.4rem;
    opacity: 0.6;
}
.orderWrapper {
    overflow: auto;
    max-height: 55vh;
}

.lessPadding {
    padding: 1rem;
}
.selectedRow {
    background-color: #48c774 !important;
    color: white !important;
  }
  
@media only screen and (max-width: 1023px) {
    .burger{
        margin-left: 0;
    }
    .cartLandscape{
        display: none;
    }
    .cartPortrait{
        display: block;
        margin-right: 0;
    }


    .lessPadding {
        padding: 0.2rem;
    }

    .box-resize-margin {
        margin: 0 10px;
    }

    #cart {
        width: 70vw;
    }


}
@media only screen and (orientation:portrait){
    .orderWrapper {
        max-height: 65vh;
    }
}