.classTitle {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}

.className {
  flex: 1;
  text-align: center;
}
.status{
  padding: 0.5rem !important;
}
.orderID{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
}
.expand {
  position: absolute;
  right: 0;
  font-weight: bold;
}
.classNumber{
  font-size:1.2rem;
  width: 20%;
  text-align: left;
  position:absolute;
  left:0;
  top:0;
}
.orderWrapper {
  overflow: auto;
}

.noOrdersSaved {
  font-size: 1.5rem;
  color: white;
}

.selectedRow {
  background-color: #48c774 !important;
  color: white !important;
}