<!DOCTYPE html>
<html>

  <head>
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <!--Ricordati all'occorenza di inserire il percorso di un file manifest.json -->
      <link rel="manifest" href="/public/manifest.json">
      <meta name="theme-color" content="#2196F3">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="">
      <meta name="apple-mobile-web-app-status-bar-style" content="default">
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="apple-touch-icon" href="">
      <meta property="og:image" content="">
      <meta property="og:site_name" content="">
      <meta property="og:title" content="">
      <meta property="og:url" content="">
      <meta property="og:description" content="">
      <link rel="icon" type="image/png" href="" />
      <!--Ricordati all'occorenza di inserire il percorso di un file .png -->
      <link rel="shortcut icon" href="/data/images/icon-192x192.png" type="image/x-icon"/>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Ricordati all'occorenza di inserire il percorso di un file .css -->
      <link rel="stylesheet" href="">
      <!--Ricordati all'occorenza di inserire il percorso di un file .js -->
      <script src=""></script>
      <title>*INSERIRE TITOLO*</title>
  </head>

  <body>
      Empty HTML page default template.
      Write your code here.
  </body>

</html>
